@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap");
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.hidden {
  display: none;
}
.active {
  font-weight: 400;
  border: 1px solid #005f84;
  margin-bottom: 100px;
  padding: 19px 22px;
  border-radius: 55px;
  text-decoration: none;
}
.describe,
.button-describe,
.title-card,
.span-about,
.button-contacts,
.active {
  font-size: 24px;
  font-family: "Mulish", sans-serif;
}
.paragraph-card,
.button-card,
.paragraph-about,
.text-file {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
}
.title-list,
.title-about,
.title-contacts,
.title-process {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 64px;
  font-weight: 300;
}
.describe,
.content-card,
.paragraph-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav,
.container,
.card,
.button-card,
.container-about,
.wrapper-contacts,
.img-contacts {
  display: flex;
}
.content-card,
.span-about,
.img-contacts,
#angle-1,
#angle-2,
#angle-1-phone,
#angle-2-phone,
#angle-1-phone-1,
#angle-2-phone-2,
.button-contacts,
.icon {
  position: absolute;
}
.main {
  width: 100%;
  background-image: url("../img/main.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border-radius: 0 0 0 280px;
}
.header {
  width: 921px;
  height: 140px;
  padding-top: 10vh;
  margin: auto;
}
.text-intro {
  display: none;
}
.nav {
  justify-content: space-between;
}
.nav_link {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 26px;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}
.nav_link:hover {
  border-bottom: 1px solid #fff;
  padding-bottom: 12px;
}
.intro {
  width: 1180px;
  height: 669px;
  margin: auto;
  padding-top: 25vh;
}
.title-main {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 110px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 280px;
}
.process {
  width: 921px;
  margin: auto;
  text-align: center;
  margin-top: 90px;
  height: 561px;
}
.title-process {
  color: #005f84;
  height: 78px;
  margin: 0;
}
.describe {
  font-weight: 200;
  color: #000;
  height: 228px;
  margin: 0;
}
.btn {
  gap: 10px;
  justify-content: center;
}
.button-describe {
  font-weight: 400;
  color: #000;
  background: none;
  border: none;
  margin-bottom: 100px;
  padding: 20px 23px;
  border-radius: 55px;
  text-decoration: none;
}
.button-describe:hover {
  color: #005f84;
  border-bottom: 1px solid #005f84;
}
.list {
  background: -webkit-linear-gradient(180deg, #81b2c6, #0b1f26);
  background: linear-gradient(180deg, #81b2c6, #0b1f26);
  height: auto;
  padding-bottom: 60px;
}
.title-list {
  padding-top: 41px;
  color: #fff;
  height: 169px;
  margin: auto;
  width: 500px;
  padding-bottom: 40px;
}
.container {
  flex-wrap: wrap;
  flex-direction: row;
  width: 1280px;
  margin: 0 auto;
  gap: 50px;
}
.card {
  width: 613px;
  height: 265px;
  background-color: #fff;
  flex-wrap: wrap;
  border-radius: 26px;
  box-shadow: 15px 15px 5px rgb(0, 0, 0, 14%);
  align-items: center;
  position: relative;
}
.card img {
  width: 289px;
  height: 266px;
  text-align: center;
  border-radius: 22px;
  transform: scale(1.01);
}
.scale {
  transition: 0.4s;
}
.scale:hover {
  transform: scale(1.02);
}
.scale-cont-1 {
  transition: 0.4s;
  transform: rotate(8deg);
}
.scale-cont-2 {
  transition: 0.4s;
  transform: rotate(-8deg);
}
.scale-cont-3 {
  transition: 0.4s;
  transform: rotate(-4deg);
}
.scale-cont-4 {
  transition: 0.4s;
  transform: rotate(4deg);
}
.content-card {
  width: 300px;
  margin-left: 320px;
}
.content-card a {
  text-decoration: none;
}
.title-card {
  font-weight: 400;
  color: #005f84;
  margin: 0;
}
.paragraph-card {
  font-weight: 200;
  color: #000;
  margin: 0;
  height: 128px;
}
.button-card {
  font-weight: 200;
  color: #005f84;
  width: 87px;
  height: 15px;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.button-card img {
  width: 7px;
  height: 15px;
  margin-right: 11px;
}
.container-about {
  width: 1081px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 110px 0;
}
.title-about {
  color: #005f84;
  width: 284px;
}
.left-about {
  width: 444px;
  position: relative;
  height: 320px;
}
.paragraph-about {
  font-weight: 300;
  color: #000;
  width: 519px;
  margin: 0;
}
.span-about {
  font-weight: 200;
  color: #005f84;
  width: 444px;
  display: block;
  bottom: 0;
}
.contacts {
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 565px;
  border-radius: 0 280px 0 0;
}
.wrapper-contacts {
  position: relative;
  justify-content: center;
  height: 565px;
}
.title-contacts {
  color: #fff;
  height: 147px;
  padding-top: 87px;
  margin: 0 auto;
  align-content: center;
}
.img-contacts {
  width: 630px;
  height: 260px;
  margin-top: 222px;
  align-items: center;
}
#angle-1-phone,
#angle-2-phone {
  display: none;
}
#angle-1-phone-1,
#angle-2-phone-2 {
  display: none;
}
.button-contacts {
  font-weight: 200;
  color: #fff;
  background: none;
  border: none;
  margin-top: 337px;
}
.button-contacts a {
  color: #fff;
  text-decoration: none;
}
.index-1,
.index-2,
.index-3,
.index-4,
.index-5,
.index-6,
.index-7,
.index-8,
.index-9 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.icon {
  margin: 50px 0 0 50px;
}
.icon img {
  height: 50px;
}
.file-1 {
  height: 100%;
}
.file-2 {
  height: 100vh;
}
.background-file {
  width: 759px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 50px;
  background: rgb(255, 255, 255, 5%);
  backdrop-filter: blur(20px);
  align-content: center;
}
.text-file {
  text-align: center;
  color: #fff;
  font-weight: 200;
}
.process,
.wrap-list,
.about,
.contacts {
  opacity: 0;
}
.show {
  opacity: 1;
  transition: opacity 1s;
}
.header,
.intro {
  opacity: 0;
  animation: ani 2.5s forwards;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1440px) {
  .main {
    background-image: url("../img/main-width-1.png");
    border-radius: 0;
  }
  .intro {
    padding-top: 20vh;
  }

  .title-main {
    font-size: 90px;
  }

  .card {
    width: 513px;
    height: 220px;
  }

  .card img {
    width: 240px;
    height: 220px;
  }

  .container {
    width: 1078px;
  }

  .content-card {
    width: 220px;
    margin-left: 270px;
  }

  .button-card img {
    width: 7px;
    height: 15px;
  }

  .contacts {
    border-radius: 0;
  }

  .intro {
    height: 660px;
  }
}

@media screen and (max-width: 1200px) {
  .main {
    background-image: url("../img/main-phone-1.png");
    border-radius: 0;
  }

  .header {
    width: 721px;
  }

  .intro {
    padding-top: 20vh;
    width: 100%;
  }

  .title-main {
    font-size: 60px;
  }

  .nav_link {
    font-size: 20px;
  }

  .title-process {
    font-size: 46px;
  }

  .card {
    width: 400px;
    height: 200px;
  }

  .card img {
    width: 210px;
    height: 200px;
  }

  .container {
    width: 900px;
  }

  .content-card {
    width: 150px;
    margin-left: 230px;
  }

  .title-card {
    font-size: 20px;
  }

  .paragraph-card {
    font-size: 14px;
    height: 88px;
  }

  .button-card {
    font-size: 14px;
  }

  .button-card img {
    width: 7px;
    height: 15px;
  }

  .title-list {
    width: 360px;
    font-size: 46px;
  }

  .process {
    margin-top: 60px;
    height: 390px;
    width: 900px;
  }

  .describe {
    height: 170px;
    font-size: 20px;
  }

  .button-describe {
    font-size: 20px;
    margin-bottom: 0;
  }

  .active {
    font-size: 20px;
    margin-bottom: 0;
  }

  .contacts {
    height: 400px;
  }

  .wrapper-contacts {
    height: 400px;
  }

  .title-contacts {
    font-size: 46px;
    padding: 0;
    height: 130px;
  }

  .img-contacts {
    margin-top: 110px;
  }

  .button-contacts {
    font-size: 20px;
    margin-top: 220px;
  }
  .container-about {
    width: 930px;
  }
  .left-about {
    width: 337px;
  }
  .span-about {
    font-size: 20px;
    width: 337px;
  }
  .title-about {
    font-size: 56px;
  }
}

@media screen and (max-width: 998px) {
  .icon {
    margin: 30px 0 0 30px;
  }
  .text-file {
    font-size: 14px;
  }
  .background-file {
    width: 600px;
  }
  .main {
    background-image: url("../img/main-phone-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  .header {
    display: none;
  }

  .intro {
    padding-top: 40vh;
    width: 640px;
    height: 960px;
  }

  .title-main {
    padding-bottom: 5vh;
    margin: 0 auto;
    font-size: 50px;
  }

  .text-intro {
    display: block;
    color: #fff;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 70px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    letter-spacing: 30px;
    width: 80px;
  }

  .process {
    height: 1660px;
    width: auto;
  }

  .title-process {
    font-size: 70px;
    height: 100px;
  }

  .describe {
    height: 200px;
    font-size: 20px;
    width: 700px;
    margin: 0 auto;
    padding: 30px;
    background-color: #0f3f6517;
    align-content: center;
    margin-top: 40px;
    border-radius: 20px;
  }

  .btn {
    display: none;
  }

  .contacts {
    height: 500px;
  }

  .wrapper-contacts {
    height: 500px;
  }

  .img-contacts {
    margin-top: 160px;
  }

  .button-contacts {
    margin-top: 270px;
  }

  .container {
    gap: 10px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hid {
    display: block;
    font-family: "Mulish", sans-serif;
    font-weight: 200;
    color: #000;
    height: 200px;
    font-size: 20px;
    width: 700px;
    margin: 0 auto;
    padding: 30px;
    background-color: #0f3f6517;
    margin-top: 50px;
    align-content: center;
    border-radius: 20px;
  }

  .title-list {
    font-size: 70px;
    width: 540px;
  }

  .card {
    margin-bottom: 40px;
    width: 600px;
    height: 250px;
  }

  .card img {
    width: 270px;
    height: 250px;
  }

  .button-card img {
    width: 7px;
    height: 15px;
  }

  .content-card {
    margin-left: 310px;
    width: 260px;
    height: 200px;
    justify-content: space-around;
  }

  .title-card {
    font-size: 25px;
  }

  .paragraph-card {
    font-size: 18px;
  }

  .button-card {
    font-size: 18px;
  }

  .container-about {
    width: 740px;
  }
  .title-about {
    font-size: 50px;
  }
  .span-about {
    font-size: 16px;
    width: 250px;
  }
  .paragraph-about {
    width: 450px;
  }
  .left-about {
    width: 250px;
    height: 380px;
  }
}
@media screen and (max-width: 750px) {
  .icon {
    margin: 30px 0 0 30px;
  }
  .text-file {
    font-size: 10px;
  }
  .background-file {
    width: 400px;
  }
  .intro {
    width: auto;
  }

  .describe {
    height: 200px;
    font-size: 16px;
    width: 500px;
  }

  .hid {
    height: 200px;
    font-size: 16px;
    width: 500px;
  }

  .container {
    width: 440px;
  }

  .card {
    width: 440px;
    height: 200px;
  }

  .card img {
    width: 210px;
    height: 200px;
  }

  .content-card {
    margin-left: 230px;
    width: 190px;
    height: 150px;
  }

  .title-card {
    font-size: 20px;
  }

  .paragraph-card {
    font-size: 14px;
  }

  .button-card {
    font-size: 14px;
  }

  .button-card img {
    width: 7px;
    height: 15px;
  }

  .img-contacts {
    width: 450px;
  }

  #angle-1,
  #angle-2 {
    display: none;
  }

  #angle-1-phone,
  #angle-2-phone {
    display: block;
    position: absolute;
  }

  .span-about {
    display: none;
  }
  .container-about {
    display: block;
    padding: 50px 0;
    width: 450px;
    text-align: center;
  }
  .title-about {
    width: 300px;
    margin: 0 auto;
  }
  .left-about {
    width: 210px;
    height: auto;
    width: 450px;
    margin-bottom: 30px;
  }
  .right-about {
    width: 450px;
  }
  .paragraph-about {
    width: 450px;
  }
}

@media screen and (max-width: 600px) {
  .icon {
    margin: 30px 0 0 30px;
  }
  .text-file {
    width: 200px;
    margin: auto;
  }
  .background-file {
    width: 300px;
  }

  .title-process {
    height: 30px;
  }

  .intro {
    height: 100vh;
  }

  .title-process {
    font-size: 26px;
  }

  .title-main {
    font-size: 26px;
  }

  .text-intro {
    font-size: 26px;
  }

  .process {
    margin-top: 30px;
    height: 1460px;
  }

  .title {
    font-size: 26px;
    height: 30px;
  }

  .describe,
  .hid {
    margin-top: 30px;
    height: 200px;
    font-size: 14px;
    width: 80%;
  }

  .title-list {
    font-size: 26px;
    width: 201px;
    height: 85px;
    padding: 25px 0;
  }

  .container {
    width: 80%;
  }

  .title-contacts {
    font-size: 26px;
    height: 40px;
    margin-top: 30px;
  }

  .img-contacts {
    width: 320px;
    margin-top: 50px;
    height: 250px;
  }

  .button-contacts {
    font-size: 14px;
    margin-top: 160px;
  }

  .wrapper-contacts {
    height: 300px;
  }

  .contacts {
    height: 300px;
  }

  #angle-1,
  #angle-2 {
    display: none;
  }

  #angle-1-phone,
  #angle-2-phone {
    display: none;
  }

  #angle-1-phone-1,
  #angle-2-phone-2 {
    display: block;
    position: absolute;
  }

  .card {
    margin-bottom: 20px;
    display: block;
    width: 40%;
    height: 270px;
  }

  .container {
    width: 80%;
    flex-direction: row;
    gap: 10%;
  }

  .card img {
    width: 100%;
    height: 60%;
    margin-left: 0px;
    object-fit: cover;
  }

  .content-card {
    width: 100%;
    margin: auto;
    text-align: center;
    height: 30%;
    padding: 10px 10px;
  }

  .button-card {
    margin: 0 auto;
    font-size: 16px;
    width: auto;
  }

  .title-card {
    font-size: 18px;
  }

  .paragraph-card {
    display: none;
  }

  .button-card img {
    width: 7px;
    height: 15px;
    margin-left: 0;
  }
}

@media screen and (max-width: 491px) {
  .card {
    height: 180px;
  }
  .container-about {
    width: 300px;
  }
  .title-about {
    font-size: 26px;
  }
  .left-about {
    width: 300px;
  }
  .right-about {
    width: 300px;
  }
  .paragraph-about {
    font-size: 12px;
    width: 300px;
  }
}

@media screen and (max-width: 441px) {
  .title-card {
    font-size: 14px;
  }

  .button-card {
    font-size: 13px;
  }

  .content-card {
    padding: 10px 10px 0px 10px;
  }
}

@media screen and (max-width: 376px) {
  .title-main {
    font-size: 20px;
  }

  .button-contacts {
    font-size: 10px;
  }

  .img-contacts {
    display: none;
  }

  .contacts {
    height: 150px;
  }

  .wrapper-contacts {
    height: 150px;
  }

  .button-contacts {
    margin-top: 30%;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px;
  }
}

@media screen and (max-width: 330px) {
  .title-card {
    font-size: 10px;
  }

  .button-card {
    font-size: 9px;
  }

  .background-file {
    width: 250px;
  }

  .describe {
    font-size: 12px;
  }

  .hid {
    font-size: 12px;
  }

  .container-about {
    width: 170px;
  }
  .title-about {
    font-size: 26px;
    width: 170px;
  }
  .left-about {
    width: 170px;
  }
  .right-about {
    width: 170px;
  }
  .paragraph-about {
    font-size: 10px;
    width: 170px;
  }
}

@media screen and (max-width: 250px) {
  .main {
    display: none;
  }
  .process {
    display: none;
  }
  .list {
    display: none;
  }
  .about {
    display: none;
  }
  .contacts {
    display: none;
  }
}
